<!DOCTYPE html>
<html>
<head>
  <title>Support</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">

<div class="col-md-6 col-sm-6">
	<%= link_to "Home", root_path, class: "btn btn-default" %>
	<%= link_to "New Request!",  new_supporter_path, class: "btn btn-default" %>
	<%= link_to "Lists", list_path, class: "btn btn-default" %>
</div>

	<div class="col-md-6 col-sm-6 text-right">
		<%= form_tag list_path, method: :get do %>
			<%= text_field_tag :search, @search_term %>
			<%= submit_tag "Search" , class: "btn btn-default" %>
		<% end %>
	</div>

<hr>
	<%if flash[:notice] %>
		<div class="alert alert-sucess">
		<%= flash[:notice] %>
		</div>
		<% elsif flash[:error] %>
		<div class="alert alert-suceess">
		<%= flash[:error] %>
		</div>
	<% end %>
<%= yield %>

</div>

</body>
</html>
